extends layout

block header 
  header 
    h1 Into every generation a meme is born

block memeImage
  div
    h2 meme image

block memeComment
  div
    p meme message

block messageForm
  div
    form(name="add_message", method="post")
    h3 Name:
    |   
    input(type='text', name='name')
    |   
    h3 Message:
    |   
    input(type='text', name='message')
    input(type="submit" value="Submit")

block messageAppend
