doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //this is the header content for Every Page
    header 
      h1 Into every generation a meme is born
    
    block content
    
    
