doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css')
  body
    //this is the header content for Every Page
    header 
      h1 Into every generation a meme is born
    
    block content
    
    
