doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //this reserves the space for the header content
    block header 
    //this reserves the space for the memeImage
    block memeImage 
    //this reserves space for the memeComment
    block memeComment
    //this reserves space for the messageForm
    block messageForm
    //this reserves space for the messageAppend
    block messageAppend
    
    
