extends layout

block content
  form(name="add-message", method="post")
    div.input
      span.label Name
      input(name="name" type="text")
    div.input
      span.label Comment
      input(name="message" type="text")
    div.actions
    input(type="submit", value="submit")
  a(href="/") Send me back
