extends layout
//this space needs to display the meme and comment by id

//adds form to each individual meme page 
block content
  image.single(src="#{meme.url}")
  //you have to reference the property 
  //squirrly syntax is used for the objects and properties
  div.comment  
    each val in comment.message
      p= val
  //loop through the current property of messages in the 
  //variableCommentsarray(set before by the id) and puts in 
  //in p
  form.form(name="add-message", method="post" action="/post")
  
    div.input
      span.label Other Thoughts?
      input(name="message" type="text")
    div
      //this hidden input tracks what meme the comment refers to by id
      input(type="hidden" name="imageID" value="#{meme.id}")
      div.actions
      input.buttonSub(type="submit", value="Put it up")
      input.buttonClear(type="reset", value="Nevermind")
  a.back(href="/") Back to the memes
