body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/brickwall.png);
}

a {
  color: #00B7FF;
  cursor: pointer;
}

header {
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
  color: #142641;
  display: block;
  width: 100%;
  text-align: center;
}

p {
  padding: 1px 0px 5px 7px;
  font-weight: bold;
  font-size: 18px;
  width:100%;
}

textarea, keygen, select, button {
    margin: 8px 0px 0px 5px;
    font: 11px BlinkMacSystemFont;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
input:hover {
  color: darkred;
  font-weight: bolder;
}

.input:hover {
  color: darkred;
  font-weight: bolder;
}

.single {
  display: block;
  width: 30%;
  margin: auto;
  border: solid;
  border-width: 6px;
  border-color: #142641;
}

.form {
  display: block;
  width: 30%;
  margin: auto;
}

.comment {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.label {
  padding: 8px;
}

.input {
  color: black;
}

.actions {
  padding: 5px 5px 5px 5px;
  color: blue;
  margin: auto;
}

.buttonSub {
  float: left;
  font-size: 20px;
}

.buttonClear {
  float: right;
  font-size: 20px;
}

.back {
  color: black;
  font-size: 21px;
  margin: auto;
  display: block;
  padding: 0px 0px 0px 10px;
  text-align: center;
}

.back:hover {
  color: darkred;
  font-size: 28px;
}

.thumbnail {
  display: inline-block;
  margin: 20px;
  width: 180px;
  height: 180px;
  border: solid;
  border-width: 4px;
  border-color: #142641;
}

.grid {
  display: block;
  width: 100%;
  margin: auto;
}

.display {
  display: inline-block;
  clear: both;
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 0px;
}

.display:hover {
  background-color: darkred;
  border-radius: 20px;
}
.wrapper {
}
